<?xml version="1.0"?>
<robot name="irwb_full" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Include mobile base model -->
  <xacro:include filename="$(find irwb_robot_pkg)/urdf/irwb_body.xacro"/>
  <!-- Include arm model -->
  <xacro:include filename="$(find irwb_robot_pkg)/urdf/arm.xacro"/>
  
  <!-- Mount the arm onto the base with a fixed joint.
       Adjust the xyz values so that the arm is mounted at the proper height.
       In this example, we attach the arm’s base_link to the body_link. -->
  <joint name="arm_mount_joint" type="fixed">
    <parent link="body_link"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.4" rpy="0 0 0"/>
  </joint>
</robot>