<?xml version="1.0"?>
<launch>

  <!-- Arguments -->
  <arg name="world_file" default="$(find irwb_robot_pkg)/worlds/airport_runway.world"/>
  <arg name="paused" default="true"/>

  <!-- Joint State Publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>

  <!-- Start Gazebo with physics paused -->
  <node name="gazebo" pkg="gazebo_ros" type="gzserver"
        args="-s libgazebo_ros_factory.so --pause $(arg world_file)" output="screen" />

  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" output="screen"/>

  <!-- Load robot description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find irwb_robot_pkg)/urdf/irwb.xacro'" />

  <!-- Robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Spawn the robot in Gazebo -->
  <node name="spawn_irwb_robot"
        pkg="gazebo_ros"
        type="spawn_model"
        respawn="false"
        output="screen"
        args="-urdf -model irwb_robot -param robot_description -x 0 -y 0 -z 0.70 -R 0 -P 0 -Y 0"/>

  <!-- Load controller configurations -->
  <rosparam file="$(find irwb_robot_pkg)/config/arm_controllers.yaml" command="load" />

  <!-- Spawn controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
      args="joint_state_controller arm1_p_joint_controller arm1_r_joint_controller arm2_joint_controller arm3_joint_controller arm4_joint_controller"/>

</launch>
